{% extends "dashboard/base.html" %}
{% block container %}
<div class="container">
	<h3>Completed Question</h3>

	<h5>Find the value of x when y=0</h5>
	{% autoescape off %}
		<h4>{{question.to_string}}</h4>
	{% endautoescape %}

	
	{% if question.student_answer == '[]' %}
			<h5>You answered <b><i>'x has no real value'</i></b>
		{% else %}
			<h5>You answered <b> x = {{question.student_answer}}</b>
	{% endif %}

	{% if question.is_correct %}
		, which is correct.</h5>
	{% else %}
		, which is wrong.
		{% if question.x == '[]' %}
			There is no real value for x.</h5>
		{% else %}
			The solution for x is <b>{{question.x}}</b>.</h5>
		{% endif %}
	{% endif %}
</div>
{% endblock %}