<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
	<meta charset="utf-8">
	<title>Quadratic Equation Learning Tool</title>
	<meta name="description" content="Quadratic Equation Learning Tool">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all-debug.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-triton/resources/theme-triton-all-debug.css">
	{% load staticfiles %}
    <script src="{% static 'javascript/base.js' %}"></script>
</head>
<body style= "height: 100%">
	
</body>
</html>