<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Quadratic Equation Learning Tool</title>
	<meta name="description" content="Quadratic Equation Learning Tool">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/skeleton.css">
</head>
<body>
	<div class="row header">
	 	<div class="ten columns">
	 		<h3 class="logo">
	 			<a href="/dashboard">QELT</a>
	 		</h3>
	 	</div>
	    <div class="two columns">
	    	{% if user.is_authenticated %}
	    		<a class="button" href="/signout/">Sign Out</a>
	    		<h6>{{ user.email}}</h6>
	    	{% else %}
	    		<!-- <a class="button" href="/signin/">Sign In</a>
	    		<a class="button button-primary" href="/signup/">Sign Up</a> -->
	    	{% endif %}
	    </div>

     </div>
     {% block container %}
     {% endblock%}
</body>
</html>