{% extends "dashboard/base.html" %}
{% block container %}
<div class="container">
	<h1>Quadratic Equation Learning Tool</h1>
	<h4>Sign In</h4>
	{% if form.errors %}
		{% for error in form.errors %}
			<b>{{error}}</b>
		{% endfor %}
	{% endif %}
	<form method="POST" action="{% url 'signin' %}">
	{% csrf_token %}
	<div class="row">
		<div class="six columns">
			<input class="u-full-width" type="text" placeholder="username" name="username"/>
			<input class="u-full-width" type="password" placeholder="password" name="password" />
			<button class="button button-primary">Sign In</button>
		</div>
	</div>
	</form>
</div>
{% endblock %}